@use "fonts"
@use "typography"
@use "variables"
@use "mixins"

.blockchain-pos
     padding-top: 12rem
     padding-bottom: 8rem

.blockchain
     padding-bottom: 6rem
     grid-column: 2/3
     display: grid
     grid-template-columns: repeat(2, 1fr)
     &__img
          max-width: 50.6rem
     &__box
          display: flex
          flex-direction: column
          gap: 4rem

.box
     max-width: 62.2rem
     height: min-content
     padding: 3rem 2rem
     border: solid .1rem variables.$gray-2
     border-radius: 2rem
     background-color: variables.$gray-4
     display: grid
     grid-template-columns: repeat(2, max-content)
     gap: 2.4rem

.box-icon
     grid-column: 1/2
     width: 3rem
     height: 3rem

.box-text
     display: flex
     flex-direction: column
     gap: .8rem
     width: 100%

.box-title
     font-family: fonts.$font-face_400
     font-size: 2.8rem
     color: variables.$gray-1

.box-ph
     font-family: fonts.$font-face_400
     font-size: 1.6rem
     color: variables.$gray-1
     line-height: 140%