@use "fonts"
@use "typography"
@use "variables"

/* универсальная кнопка */
.btn
     height: 4rem
     width: max-content
     background-color: variables.$green
     padding: .8rem 2.4rem
     font-family: fonts.$font-face_400
     font-size: 1.8rem
     color: variables.$black
     border-radius: 5rem
     &:hover
          background-image: variables.$greenGradient

/* <button class="btn">Try For Free</button> */

.btn-mod
     height: 4rem
     width: max-content
     background-color: variables.$black
     border: solid .2rem variables.$gray-2
     padding: .8rem 2.4rem
     font-family: fonts.$font-face_400
     font-size: 1.8rem
     color: variables.$black
     border-radius: 5rem
     display: flex
     justify-content: center
     align-items: center
     gap: 1.1rem
     &:hover
          background-color: variables.$gray-3

/* кнопка над секцией */
.btn-section
     height: 4rem
     width: max-content
     background-color: variables.$black
     border: solid .2rem variables.$gray-2
     border-radius: 5rem
     display: flex
     justify-content: center
     align-items: center
     font-family: fonts.$font-face_400
     font-size: 1.4rem
     color: variables.$green
     &:hover
          background-color: variables.$gray-3

/* <button class="btn-section">Features</button> */

.btn-header-1
     display: flex
     justify-content: center
     align-items: center
     gap: .8rem
     height: 3.7rem
     width: 3.7rem
     width: max-content
     background-color: variables.$black
     border: solid .2rem variables.$gray-2
     padding: 1rem 1.2rem
     border-radius: 2.4rem
     &:hover
          background-color: variables.$gray-3

.btn-text
     font-family: fonts.$font-face_400
     font-size: 1.8rem
     color: variables.$green
     &_mod
          color: variables.$white

/* точка на кнопке */
.punto
     height: .9rem
     width: .9rem

/* значок play на кнопке */
.play
     height: 1.4rem
     width: 1.1rem
