@use "fonts"
@use "typography"
@use "variables"
@use "mixins"

.header
     @include mixins.container()
     &__wrapper
          grid-column: 2/3
          display: grid
          grid-template-columns: repeat(3, 1fr)
          height: 8rem
          width: 100%

     /* левая часть логотип */
.logo
     grid-column: 1/2
     align-self: center
     justify-self: start
     display: flex
     align-items: center
     gap: 1.1rem
     &__text
          font-family: fonts.$font-face_500
          font-size: 2.2rem
          color: variables.$font
.icon
     width: 3.2rem
     height: 3.2rem

     /* центр навигация */
.nav
     grid-column: 2/3
     align-self: center
     justify-self: center
     @include variables.respond(desktop)
          display: none
.list
     display: flex
     flex-wrap: nowrap
     gap: 4rem
     &__link
          font-family: fonts.$font-face_400
          font-size: 1.6rem
          color: variables.$gray-1
          &:hover
               color: variables.$white

     /* регистрация */
.registration
     grid-column: 3/4
     display: flex
     align-items: center
     justify-content: flex-end
     gap: 4rem
     @include variables.respond(desktop)
          display: none
     &__start
          font-family: fonts.$font-face_400
          font-size: 1.6rem
          color: variables.$font

/* контент левая часть*/
.content
     grid-column: 2/3
     height: 68.8rem
     padding: 8.8rem 0
     display: grid
     grid-template-columns: 57% 43%

.left-side
     align-self: center
     display: flex
     flex-direction: column
     gap: 4rem

.title-1
     font-family: fonts.$font-face_700
     color: variables.$white
     font-size: 6.4rem
     line-height: 110%

.subtitle
     font-family: fonts.$font-face_400
     font-size: 2rem
     color: variables.$gray-1
     max-width: 60rem
     line-height: 140%

.btn-wrap
     display: flex
     justify-content: flex-start
     gap: 2rem

/* контент правая часть */
.right-side
     grid-column: 2/3
     //width: 100%
     //height: 100%
     //justify-self: stretch
     //justify-self: center
     //align-self: center
