@use "fonts"
@use "typography"
@use "variables"
@use "mixins"

.main
     @include mixins.container()
     width: 100%
     height: max-content

/* @mixin container()
     display: grid
     grid-template-columns: minmax(2rem, 1fr) minmax(0, 120rem) minmax(2rem, 1fr) */