@charset "UTF-8";
@font-face {
  font-family: "Alexandria-Black";
  src: local("Alexandria-Black");
  src: url("../fonts/Alexandria-Black.ttf") format("truetype"), url("../fonts/Alexandria-Black.woff") format("woff"), url("../fonts/Alexandria-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Alexandria-Bold";
  src: local("Alexandria-Bold");
  src: url("../fonts/Alexandria-Bold.ttf") format("truetype"), url("../fonts/Alexandria-Bold.woff") format("woff"), url("../fonts/Alexandria-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Alexandria-ExtraBold";
  src: local("Alexandria-ExtraBold");
  src: url("../fonts/Alexandria-ExtraBold.ttf") format("truetype"), url("../fonts/Alexandria-ExtraBold.woff") format("woff"), url("../fonts/Alexandria-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Alexandria-ExtraLight";
  src: local("Alexandria-ExtraLight");
  src: url("../fonts/Alexandria-ExtraLight.ttf") format("truetype"), url("../fonts/Alexandria-ExtraLight.woff") format("woff"), url("../fonts/Alexandria-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Alexandria-Light";
  src: local("Alexandria-Light");
  src: url("../fonts/Alexandria-Light.ttf") format("truetype"), url("../fonts/Alexandria-Light.woff") format("woff"), url("../fonts/Alexandria-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Alexandria-Medium";
  src: local("Alexandria-Medium");
  src: url("../fonts/Alexandria-Medium.ttf") format("truetype"), url("../fonts/Alexandria-Medium.woff") format("woff"), url("../fonts/Alexandria-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Alexandria-Regular";
  src: local("Alexandria-Regular");
  src: url("../fonts/Alexandria-Regular.ttf") format("truetype"), url("../fonts/Alexandria-Regular.woff") format("woff"), url("../fonts/Alexandria-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Alexandria-SemiBold";
  src: local("Alexandria-SemiBold");
  src: url("../fonts/Alexandria-SemiBold.ttf") format("truetype"), url("../fonts/Alexandria-SemiBold.woff") format("woff"), url("../fonts/Alexandria-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Alexandria-Thin";
  src: local("Alexandria-Thin");
  src: url("../fonts/Alexandria-Thin.ttf") format("truetype"), url("../fonts/Alexandria-Thin.woff") format("woff"), url("../fonts/Alexandria-Thin.woff2") format("woff2");
}
/* .class
 *   font-family: fonts.$font-face_900
 *   font-size: 10rem */
html {
  font-size: 62.5%;
  margin: 0;
}

body {
  line-height: 1;
  background-color: rgb(0, 0, 0);
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s, -webkit-text-decoration 0s;
  transition: color 0.3s, text-decoration 0s;
  transition: color 0.3s, text-decoration 0s, -webkit-text-decoration 0s;
}
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

hr {
  box-sizing: content-box;
  height: 1px;
  overflow: visible;
  background-color: inherit;
  border: none;
}

pre {
  font-family: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0.5em 1em;
  border-radius: 4px;
  border: 1px solid inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  border: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
}

th, td {
  padding: 8px;
  text-align: left;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

details {
  display: block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

/* общий стиль контейнера */
/* универсальная кнопка */
.btn {
  height: 4rem;
  width: -moz-max-content;
  width: max-content;
  background-color: rgb(157, 255, 58);
  padding: 0.8rem 2.4rem;
  font-family: "Alexandria-Regular";
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
  border-radius: 5rem;
}
.btn:hover {
  background-image: linear-gradient(180deg, rgb(117, 169, 65), rgb(58, 117, 0) 100%);
}

/* <button class="btn">Try For Free</button> */
.btn-mod {
  height: 4rem;
  width: -moz-max-content;
  width: max-content;
  background-color: rgb(0, 0, 0);
  border: solid 0.2rem rgb(77, 77, 77);
  padding: 0.8rem 2.4rem;
  font-family: "Alexandria-Regular";
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
}
.btn-mod:hover {
  background-color: rgb(46, 46, 46);
}

/* кнопка над секцией */
.btn-section {
  height: 4rem;
  width: -moz-max-content;
  width: max-content;
  background-color: rgb(0, 0, 0);
  border: solid 0.2rem rgb(77, 77, 77);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Alexandria-Regular";
  font-size: 1.4rem;
  color: rgb(157, 255, 58);
}
.btn-section:hover {
  background-color: rgb(46, 46, 46);
}

/* <button class="btn-section">Features</button> */
.btn-header-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  height: 3.7rem;
  width: 3.7rem;
  width: -moz-max-content;
  width: max-content;
  background-color: rgb(0, 0, 0);
  border: solid 0.2rem rgb(77, 77, 77);
  padding: 1rem 1.2rem;
  border-radius: 2.4rem;
}
.btn-header-1:hover {
  background-color: rgb(46, 46, 46);
}

.btn-text {
  font-family: "Alexandria-Regular";
  font-size: 1.8rem;
  color: rgb(157, 255, 58);
}
.btn-text_mod {
  color: rgb(229, 229, 229);
}

/* точка на кнопке */
.punto {
  height: 0.9rem;
  width: 0.9rem;
}

/* значок play на кнопке */
.play {
  height: 1.4rem;
  width: 1.1rem;
}

.hamburger-wrapper {
  display: none;
}
@media (max-width: 1023px) {
  .hamburger-wrapper {
    display: block;
    grid-column: 3/4;
    justify-self: end;
    align-self: center;
  }
}

.hamburger-btn {
  width: -moz-min-content;
  width: min-content;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
  position: relative;
}

.span {
  z-index: 2000;
  width: 3rem;
  height: 0.2rem;
  background-color: rgb(255, 255, 255);
  margin: 4px 0;
  transition: all 0.3s ease;
}

.hamburger-active .span:nth-child(1) {
  transform: rotate(45deg) translate(0.8rem, 0.8rem);
}
.hamburger-active .span:nth-child(2) {
  opacity: 0;
}
.hamburger-active .span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.hamb {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  /* Начальное состояние (скрыто) */
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.hamb.hamb--active {
  z-index: 2;
  opacity: 1;
  transform: translateY(0);
}

/* Анимация скрытия */
.hamb.hamb--closing {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 0;
  height: 100vh;
  background-color: rgb(15, 15, 15);
}

.registr-hamb {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 0;
  padding-top: 7rem;
  padding-bottom: 2rem;
  background-color: rgb(15, 15, 15);
}

/* стили кнопки находятся в button.sass */
.top-section {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.title {
  font-family: "Alexandria-Regular";
  font-size: 4.8rem;
  color: rgb(229, 229, 229);
}

.paragraph-section {
  font-family: "Alexandria-Regular";
  font-size: 1.8rem;
  line-height: 140%;
  color: rgb(153, 153, 153);
  text-align: center;
}

.header {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(0, 120rem) minmax(2rem, 1fr);
  /* левая часть логотип */
}
.header__wrapper {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 8rem;
  width: 100%;
}

.logo {
  grid-column: 1/2;
  align-self: center;
  justify-self: start;
  display: flex;
  align-items: center;
  gap: 1.1rem;
}
.logo__text {
  font-family: "Alexandria-Medium";
  font-size: 2.2rem;
  color: rgb(255, 255, 255);
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
  /* центр навигация */
}

.nav {
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}
@media (max-width: 1023px) {
  .nav {
    display: none;
  }
}

.list {
  display: flex;
  flex-wrap: nowrap;
  gap: 4rem;
  /* регистрация */
}
.list__link {
  font-family: "Alexandria-Regular";
  font-size: 1.6rem;
  color: rgb(153, 153, 153);
}
.list__link:hover {
  color: rgb(229, 229, 229);
}

.registration {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
}
@media (max-width: 1023px) {
  .registration {
    display: none;
  }
}
.registration__start {
  font-family: "Alexandria-Regular";
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
}

/* контент левая часть*/
.content {
  grid-column: 2/3;
  height: 68.8rem;
  padding: 8.8rem 0;
  display: grid;
  grid-template-columns: 57% 43%;
}

.left-side {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.title-1 {
  font-family: "Alexandria-Bold";
  color: rgb(229, 229, 229);
  font-size: 6.4rem;
  line-height: 110%;
}

.subtitle {
  font-family: "Alexandria-Regular";
  font-size: 2rem;
  color: rgb(153, 153, 153);
  max-width: 60rem;
  line-height: 140%;
}

.btn-wrap {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

/* контент правая часть */
.right-side {
  grid-column: 2/3;
}

/* форма регистрации */
.form-container {
  background-color: #111;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.2);
  width: 300px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}
input[type=submit] {
  background-color: #32ff32;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
input:hover {
  background-color: #28e028;
}

.main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(0, 120rem) minmax(2rem, 1fr);
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

/* @mixin container()
 *   display: grid
 *   grid-template-columns: minmax(2rem, 1fr) minmax(0, 120rem) minmax(2rem, 1fr) */
.partners {
  grid-column: 1/4;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 4rem 0 4rem 0;
  background-color: rgb(15, 15, 15);
  display: grid;
  grid-template-columns: 1fr;
}
.partners__title {
  font-family: "Alexandria-Regular";
  font-size: 1.6rem;
  color: rgb(153, 153, 153);
  justify-self: center;
  margin-bottom: 4rem;
}
.partners__logo {
  grid-column: 1/2;
  justify-self: center;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) repeat(5, min-content) minmax(1rem, 1fr);
  gap: 7.2rem;
}

.partner {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.partner-icon {
  width: 3.1rem;
  height: 3.1rem;
}

.partner-name {
  font-family: "Alexandria-Medium";
  color: rgb(153, 153, 153);
  font-size: 1.6rem;
}

.partner-1 {
  grid-column: 2/3;
}

.partner-2 {
  grid-column: 3/4;
}

.partner-3 {
  grid-column: 4/5;
}

.partner-4 {
  grid-column: 5/6;
}

.partner-5 {
  grid-column: 6/7;
}

.methods-pos {
  padding-top: 8rem;
}

.methods {
  padding-top: 8rem;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2.4rem;
  padding-bottom: 8rem;
}

.methods-icon {
  width: 3.6rem;
  height: 3.6rem;
  margin-bottom: 4.2rem;
}

.title-card {
  font-family: "Alexandria-Regular";
  font-size: 2rem;
  color: rgb(229, 229, 229);
  text-align: center;
  margin-bottom: 1.6rem;
}

.paragraph-card {
  font-family: "Alexandria-Regular";
  font-size: 1.6rem;
  color: rgb(153, 153, 153);
  text-align: center;
}

.card {
  padding: 4.8rem 3.6rem;
  justify-items: center;
  border: solid 0.1rem rgb(77, 77, 77);
  border-radius: 1.2rem;
  background-color: rgb(15, 15, 15);
}

.card-1 {
  grid-column: 1/5;
}

.card-2 {
  grid-column: 5/9;
}

.card-3 {
  grid-column: 9/13;
}

.statistics-pos {
  grid-column: 1/4;
  padding-top: 12rem;
  background-color: rgb(15, 15, 15);
}

.statistics {
  background-color: rgb(15, 15, 15);
  grid-column: 1/4;
  padding-top: 7.2rem;
  padding-bottom: 12rem;
  display: flex;
  justify-content: center;
  gap: 7.2rem;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.block__number {
  font-family: "Alexandria-Regular";
  font-size: 4.8rem;
  color: rgb(157, 255, 58);
}
.block__ph {
  font-family: "Alexandria-Regular";
  font-size: 2rem;
  color: rgb(153, 153, 153);
}

.blockchain-pos {
  padding-top: 12rem;
  padding-bottom: 8rem;
}

.blockchain {
  padding-bottom: 6rem;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 7.2rem;
}
.blockchain__img {
  align-self: center;
  grid-column: 1/2;
}
.blockchain__box {
  align-self: center;
  max-width: 62.2rem;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.box {
  grid-column: 2/3;
  width: 100%;
  padding: 3rem 2rem;
  border: solid 0.1rem rgb(77, 77, 77);
  border-radius: 2rem;
  background-color: rgb(15, 15, 15);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2.4rem;
}

.box-icon {
  grid-column: 1/2;
  width: 3rem;
  height: 3rem;
}

.box-text {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: auto;
  height: auto;
}

.box-title {
  font-family: "Alexandria-Regular";
  font-size: 2.8rem;
  color: rgb(153, 153, 153);
}

.box-ph {
  font-family: "Alexandria-Regular";
  font-size: 1.6rem;
  color: rgb(153, 153, 153);
  line-height: 140%;
}

.swiper-pos {
  grid-column: 1/4;
  padding-top: 8rem;
  padding-bottom: 7.2rem;
  background-color: rgb(15, 15, 15);
}

.wrapper {
  grid-column: 1/4;
  background-color: rgb(15, 15, 15);
  padding-bottom: 13.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.swiper {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
}

.swiper-wrapper {
  height: -moz-min-content;
  height: min-content;
}

.quote {
  font-family: "Alexandria-Regular";
  font-size: 1.6rem;
  font-style: italic;
  color: rgb(237, 237, 242);
}

.autor {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}

.autor-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.name {
  font-family: "Alexandria-Regular";
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
}

.cofounder {
  font-family: "Alexandria-Regular";
  font-size: 1.2rem;
  color: rgb(77, 77, 77);
}

.swiper-slide {
  width: 36.9rem;
  height: 20.4rem;
  background: rgb(0, 0, 0);
  border: solid 0.1rem rgb(77, 77, 77);
  border-radius: 1.6rem;
  padding: 3.2rem;
  display: flex;
  align-items: stretch;
}

.slide-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spoiler-pos {
  padding-top: 8rem;
  padding-bottom: 7.2rem;
}

.accordion {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 8rem;
  justify-self: center;
  max-width: 79.2rem;
  width: 100%;
}
.accordion__wrapper {
  width: 100%;
  height: auto;
}
.accordion__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  border: solid 0.1rem rgb(77, 77, 77);
  border-radius: 0.2rem;
}
.accordion__title {
  font-family: "Alexandria-Regular";
  font-size: 1.6rem;
  color: rgb(229, 229, 229);
}
.accordion__cross {
  position: relative;
}
.accordion__cross span {
  display: block;
  width: 2rem;
  height: 0.2rem;
  background-color: rgb(229, 229, 229);
  transform: rotate(0deg) translate(0rem, 0.35rem);
}
.accordion__cross span:last-child {
  transform: rotate(90deg) translate(-0.2rem, 0rem);
}

.accordion-active {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 2rem;
  transition: all 0.2s ease;
  border: none;
  background-color: transparent;
}

.accordion__wrapper.active .accordion-active {
  max-height: 100rem;
  opacity: 1;
  padding: 2rem;
  background-color: rgb(15, 15, 15);
  border: solid 0.1rem rgb(77, 77, 77);
}
.accordion__wrapper.active .accordion__cross span:first-child {
  transform: rotate(45deg) translate(0.1rem, 0.3rem);
}
.accordion__wrapper.active .accordion__cross span:last-child {
  transform: rotate(-45deg) translate(0.1rem, -0.3rem);
}

.spoiler {
  font-family: "Alexandria-Regular";
  font-size: 1.6rem;
  color: rgb(229, 229, 229);
  line-height: 170%;
}/*# sourceMappingURL=style.css.map */